<div *ngFor="let usuario of allUsers" class="col">

    <table class="table">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><button type="button" class="btn btn-primary">
                <img src="/assets/dashboard/home/img-icono-editar.png" alt="icono"></button></td>
            <td><strong>{{usuario.Nombre}}</strong></td>
            <td>{{usuario.Correo}}</td>
            <td>{{usuario.Telefono}}</td>
            <td>{{usuario.roleUser}}</td>
            <td>{{usuario._id}}</td>
          </tr>
        </tbody>
    </table>
