<!-- Comienzo del footer -->
<footer>
    <!-- Seccion de registro para updates de email -->
      <section class="info-footer">
          <h3>Email Updates</h3>
           <p>Obtén al instante las ultimas noticias y contenido premium y más!</p>
          <input type="email" name="" id="correo" placeholder="Correo Electrónico">
          <button class="registro">Registrate</button>
          <p>Al registrar tu correo electrónico confirmas el recibir emails de parte de Ecocloset.</p>
      </section>

      <!-- Call to action -->
      <h3>Por un closet sin huella de carbono</h3>

      <!-- Redes sociales -->
      <section class="redes-footer">
          <img src="assets/footer/img-instagram.png" alt="instagram">
          <img src="assets/footer/img-facebook.png" alt="facebook">
          <img src="assets/footer/img-twitter.png" alt="twitter">
      </section>
  </footer> 

