.card-product{
    background-color:var(--colorBlanco);
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: transform 0.3s ease;
}

.card-product:hover{
    transform: translateY(-10px); 
}

.cover-img{
    height: 300px;
    width: 300px;
    border-radius: 16px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.cover-img img{
    max-width: 200%;
    max-height: 200%;
    object-fit: cover;
}

.producto-texto{
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 8px;
}

.producto-texto h2{
    text-align: left;
    color: var(--colorPrimario);
    font-weight: bolder;
}

.producto-texto h4{
    font-weight: bolder;    
}

.producto-texto button{
    all: unset;
    font-size: 24px;
    background-color: var(--colorPrimario);
    color: var(--colorBlanco );
    font-weight: bolder;
    padding: 8px;
    border-radius:8px ;
}

/* Estilos del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    height: 80%;
    width: 55%;
    border-radius: 16px;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--colorBlanco);
    padding: 24px;
  }
  
  .modal-content img {
    max-width: 70%;
    max-height: 70%;
    object-fit: cover;
    margin: 16px 0;
    border-radius: 16px;
  }
  
  .modal-content button {
    padding: 10px 20px;
    background-color: var(--colorSecundario);
    color: var(--colorBlanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: var(--colorPrimario);
  }

  .modal-content h2{
    font-weight: bolder;
    color: var(--colorPrimario);
  }

  .modal-content h3{
    color: var(--colorTexto);
  }

  .modal-content h4{
    color: var(--colorTexto);
    font-weight: bolder;
  }