<!-- Esta seccion es el banner que redirige a los productos  -->

<section class="hero">
    <section class="info-hero">
        <h1>Vístete con propósito</h1>
        <p>Nuestra nueva colección de moda sostenible combina estilo y responsabilidad, porque la verdadera elegancia empieza con decisiones conscientes.</p>
    </section>
</section>

<!-- Etiqueta para el funcionamiento de Angular -->
<router-outlet />

<!-- En este BANNER debe poderse reemplazar con IMAGEN y tambien TEXTOS -->
 <!-- Si no es posible descartar la idea -->


