<!-- Traer el NAVBAR -->
<app-nav-bar></app-nav-bar>

      <!-- Aca esta dispuesto todo el contenido de la pagina -->
      <main>
  
        <!-- Esta seccion es el banner con su call to action que redirige a los productos  -->
          <section class="hero">
              <section class="info-hero">
                  <h1>Vístete con propósito</h1>
                  <p>Nuestra nueva colección de moda sostenible combina estilo y responsabilidad, porque la verdadera elegancia empieza con decisiones conscientes.</p>
              </section>
          </section>
  
          <!-- Modal de registro 10% off -->
          <section class="popup-container" id="popup_container">
            <section class="popup">
              <section class="img-modal"></section>
              <section class="info-popup">
                <h1>Regístrate por un 10% de descuento en tu primera compra!</h1>
                <h3>Obtén al instante las ultimas noticias y contenido premium y más!</h3>
                <input type="email" name="" id="correo2" placeholder="Correo Electrónico">
                <button id="registro">Registrate</button>
                <button id="salir">Cerrar</button>
                <p>Al registrar tu correo electrónico confirmas el recibir emails de parte de Ecocloset.</p>
              </section>
            </section>
          </section>
          <!-- Fin del modal -->
  
          <!-- aca se ponen los cuadrados de color -->
          <section class="divisor-color">
            <div class="cuadrado1"></div>
            <div class="cuadrado2"></div>
            <div class="cuadrado3"></div>
            <div class="cuadrado4"></div>
            <div class="cuadrado5"></div>
            <div class="cuadrado6"></div>
          </section>

          <!-- Carousel prueba de BOOTSTRAP -->
          <div id="carouselExampleDark" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <section class="designers">
                  <img src="assets\Home\img-diseñadorModa1.png" alt="img-designer">
                  <section class="info-text">
                      <h1>Valeria Martínez</h1>
                      <p>Su estilo se caracteriza por líneas minimalistas y colores neutros, combinando la elegancia contemporánea con la funcionalidad. Cada colección cuenta una historia de    conexión con la naturaleza y promueve un estilo de vida consciente.
                      Valeria colabora con artesanos locales y utiliza procesos éticos de producción, garantizando que cada pieza sea un reflejo de su compromiso con la sostenibilidad. Además, destina un porcentaje de sus ganancias a iniciativas medioambientales.
                      "Creer en la moda como un vehículo de cambio es mi motor. Cada prenda es una oportunidad para cuidar nuestro planeta y empoderar a quienes las usan."</p>
                  </section>
              </section>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <section class="designers">
                  <img src="assets\Home\img-diseñadorModa2.png" alt="img-designer">
                  <section class="info-text">
                      <h1>Stella McCartney</h1>
                      <p>Es una de las diseñadoras más influyentes y comprometidas con la sostenibilidad en la moda. Su marca homónima se ha destacado por sus esfuerzos en la creación de colecciones completamente libres de cuero, piel y otras materias primas derivadas de animales. Desde el inicio de su carrera, ha sido una defensora del uso de materiales ecológicos y ha integrado en sus colecciones tejidos reciclados, orgánicos y de bajo impacto ambiental. La firma también utiliza tintes naturales y ha implementado prácticas de producción respetuosas con el medio ambiente. Además, McCartney ha sido una de las pioneras en promover la moda circular, incentivando la reparación y reutilización de prendas.</p>
                  </section>
              </section>
              </div>
              <div class="carousel-item">
                <section class="designers">
                  <img src="assets\Home\img-diseñadorModa3.png" alt="img-designer">
                  <section class="info-text">
                      <h1>Gabriela Hearst</h1>
                      <p>Es una de las diseñadoras más reconocidas por su enfoque sostenible y su visión a largo plazo de la moda. Su marca se ha distinguido por su compromiso con la producción ética y el uso de materiales reciclados. Hearst crea colecciones que no solo son bellas, sino que también promueven la responsabilidad ambiental, utilizando materiales de bajo impacto como lana orgánica, seda ecológica y tejidos reciclados. Además, su enfoque en la sostenibilidad va más allá del producto, implementando prácticas responsables en toda la cadena de suministro, desde la producción hasta la distribución.</p>
                  </section>
              </section>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
           
  
          <!-- Aca esta el carousel con la division por categorias de los productos -->
          <section class="categorias">
            <section class="divisor-color">
              <div class="cuadrado1"></div>
              <div class="cuadrado2"></div>
              <div class="cuadrado3"></div>
              <div class="cuadrado4"></div>
              <div class="cuadrado5"></div>
              <div class="cuadrado6"></div>
            </section>
              <h1>Categorias</h1>
          </section>
  
          <!-- BOOTSTRAP CAROUSEL -->
          <div id="carouselExampleCaptions" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="assets\Home\img-categoriaA.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                    <a routerLink="/Productos" style="text-decoration: none"><h5>Invierno</h5></a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets\Home\img-categoriaB.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                    <a routerLink="/Productos" style="text-decoration: none"><h5>Verano</h5></a>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="assets\Home\img-categoriaC.png" class="d-block w-100" alt="...">
                  <div class="carousel-caption d-md-block">
                    <a routerLink="/Productos" style="text-decoration: none"><h5>Primavera</h5></a>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
          </div>
            <!-- FINAL BOOTSTRAP -->
  
          <!-- En esta seccion esta la lista de productos -->
           <!-- Aca va la galeria de productos destacados -->
          <section class="products">
              <section class="divisor-color">
                <div class="cuadrado1"></div>
                <div class="cuadrado2"></div>
                <div class="cuadrado3"></div>
                <div class="cuadrado4"></div>
                <div class="cuadrado5"></div>
                <div class="cuadrado6"></div>
              </section>
              <h1>Trending</h1>
              <section class="galeria">
                  <section class="img-pro1">
                      <section class="info-products">
                          <h1>Camisas</h1>
                          <a routerLink="/ListaProductos" style="text-decoration: none"><button>Ver producto</button></a>
                      </section>
                  </section>
  
                  <section class="galery-products2">
                      <section class="img-pro2">
                          <section class="info-products">
                              <h1>Pantalones</h1>
                              <a routerLink="/ListaProductos" style="text-decoration: none"><button>Ver producto</button></a>
                          </section>
                      </section>
                      <section class="img-pro3">
                          <section class="info-products">
                              <h1>Accesorios</h1>
                              <a routerLink="/ListaProductos" style="text-decoration: none"><button>Ver producto</button></a>
                          </section>
                      </section>
                  </section>
              </section>
          </section>
  
          <!-- Aca va la lista de productos favoritos -->
          <section class="favorites">

            <section class="divisor-color">
              <div class="cuadrado1"></div>
              <div class="cuadrado2"></div>
              <div class="cuadrado3"></div>
              <div class="cuadrado4"></div>
              <div class="cuadrado5"></div>
              <div class="cuadrado6"></div>
            </section>

            <h1>Favoritos</h1> 

          </section>  

            
              <section class="lista-productos">
                <app-product-card class="tarjeta"></app-product-card>
              </section>
  
              <!-- Aca va la lista de productos nuevos -->
              <section class="nuevos">

                <section class="divisor-color">
                  <div class="cuadrado1"></div>
                  <div class="cuadrado2"></div>
                  <div class="cuadrado3"></div>
                  <div class="cuadrado4"></div>
                  <div class="cuadrado5"></div>
                  <div class="cuadrado6"></div>
                </section>
                
                  <h1>Nuevos</h1>

                  <section class="lista-productos">
                    <app-product-card class="tarjeta"></app-product-card>
                  </section>

              </section>
      </main>

      <!-- Traer el FOOTER -->
<app-footer></app-footer>
  
