/* Aca empieza el main */
/* Esta seccion es del hero */
.hero{
    background-image: url(/assets/products-list/img-productsBanner.png);
    background-size: cover;
    background-position: center;
    margin: 16px;
    padding: 16px;
    border-radius: 16px;
}

.info-hero{
    margin: 16px;
}

.info-hero h1{
    font-size: 48px;
    color: var(--colorBlanco);
}

.info-hero p{
    font-size: 16px;
    color: var(--colorBlanco);
    margin: 8px 0;
    font-weight: bold;
}

.info-hero button{
    all: unset;
    font-size: 16px;
    font-weight: bolder;
    background-color: var(--colorPrimario);
    color: var(--colorBlanco);
    padding: 16px 32px;
    border-radius: 8px;
}

/* Aca van los cuadros de color */
.divisor-color{
    border: solid var(--colorBase2);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}

.cuadrado1{
    width: 45px;
    height: 10px;
    
    background-color: var(--colorPrimario);
}

.cuadrado2{
    width: 45px;
    height: 10px;
    background-color: var(--colorSecundario);
   
}

.cuadrado3{
    width: 45px;
    height: 10px;
    background-color: #AB4E68;
    
}

.cuadrado4{
    width: 45px;
    height: 10px;
    background-color: #B07156;
    
}

.cuadrado5{
    width: 45px;
    height: 10px;
    background-color: #B4D2E7;
    
}

.cuadrado6{
    width: 45px;
    height: 10px;
    background-color: #F7F0F5;
    
}

/* Esta es la seccion de los productos destacados */
.products{
    margin: 16px;
}

.products h1{
    font-size: 48px;
    font-weight: bolder;
    color: var(--colorSecundario);
    text-align: center;
}

.img-pro1{
    background-image: url(/assets/Home/img-producto1.png);
    background-size: cover;
    background-position: center;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.info-products{
    margin-top:400px;
}

.info-products h1{
    text-align: left;
    font-size: 48px;
    color: var(--colorBlanco);
}

.info-products button{
    all: unset;
    font-size: 24px;
    background-color:var(--colorPrimario);
    color: var(--colorBlanco);
    font-weight: bolder;
    padding: 8px;
    border-radius:8px ;
}

.img-pro2{
    background-image: url(/assets/Home/img-producto2.png);
    background-size: cover;
    background-position: center;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 32px;
}

.img-pro3{
    background-image: url(/assets/Home/img-producto3.png);
    background-size: cover;
    background-position: center;
    padding: 24px;
    border-radius: 16px;
    margin-bottom: 32px;
}

/* Seccion de favoritos */
.favorites{
    margin: 16px;
}

.favorites h1{
    font-size: 48px;
    font-weight: bolder;
    color: var(--colorSecundario);
    text-align: center;
}

.nuevos h1{
    font-size: 48px;
    font-weight: bolder;
    color: var(--colorSecundario);
    text-align: center;
}

/* Seccion de lista de productos */
.tarjeta{
    display: flex;
    flex-direction: column;
    margin: 32px;
    gap: 32px;
}

/* Media screen para las medidas de tablet */
@media screen and (min-width: 768px) and (max-width: 1023px){
    
    /* Seccion de banner */
    .hero{
        height: 40vh;
    }

    .info-hero{
        margin-top: 15%;
        width: 80%;
    }

    /* Seccionde productos */
    .products{
        width: 70%;
        margin: 10% 15%;
    }
    
    .tarjeta{
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
        align-items: center;
        overflow: hidden; 
    }

}

/* Media screen para la medida de pc */
@media screen and (min-width: 1024px)and (max-width: 1920px){
    /* Ajustes al banner */
    .hero{
        height: 60vh;
    }
    .info-hero{
        margin-top: 12%;
        width: 80%;
    }

    .info-hero h1{
        font-size: 60px;
    }

    .info-hero p{
        font-size: 24px;
    }

    /* Seccion de productos */
    .products{
        width: 90%;
        margin: 5%;
    }

    .galeria{
        display: flex;
        gap: 16px;
    }

    .img-pro1{
        width: 50%;
        display: flex;
        justify-content: start;
        align-items: end;
    }

    .galery-products2{
        width: 60%;
    }

    .favorites{
        width: 90%;
        margin: 5%;
    }

    /* Seccion de lista de productos */
    .tarjeta{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        margin: 32px;
        gap: 40px;
    }

}
