<!-- Traer el NAVBAR -->
<app-nav-bar></app-nav-bar>

<!-- Aca esta dispuesto todo el contenido de la pagina -->
<main>

    <!-- Esta seccion es el banner con su call to action que redirige a los productos  -->
        <section class="hero">
            <section class="info-hero">
                <h1>Cada prenda cuenta una historia</h1>
                <p>Únete al movimiento de la moda sostenible y transforma tu estilo en un acto de amor por el planeta. <strong>#ModaConsciente</strong> <strong> #Sostenibilidad"</strong></p>
            </section>
        </section>
        
    <!-- En esta seccion esta la lista de productos -->
           <!-- Aca va la galeria de productos destacados -->
           <section class="products">
            <section class="divisor-color">
              <div class="cuadrado1"></div>
              <div class="cuadrado2"></div>
              <div class="cuadrado3"></div>
              <div class="cuadrado4"></div>
              <div class="cuadrado5"></div>
              <div class="cuadrado6"></div>
            </section>
            <h1>Trending</h1>
            <section class="galeria">
                <section class="img-pro1">
                    <section class="info-products">
                        <h1>Camisas</h1>
                    </section>
                </section>

                <section class="galery-products2">
                    <section class="img-pro2">
                        <section class="info-products">
                            <h1>Pantalones</h1>
                        </section>
                    </section>
                    <section class="img-pro3">
                        <section class="info-products">
                            <h1>Accesorios</h1>
                        </section>
                    </section>
                </section>
            </section>
        </section>

         <!-- Aca va la lista de productos favoritos -->
         <section class="favorites">

            <section class="divisor-color">
              <div class="cuadrado1"></div>
              <div class="cuadrado2"></div>
              <div class="cuadrado3"></div>
              <div class="cuadrado4"></div>
              <div class="cuadrado5"></div>
              <div class="cuadrado6"></div>
            </section>

            <h1>Favoritos</h1> 

          </section>  

            
              <section class="lista-productos">
                <app-product-card class="tarjeta"></app-product-card>
              </section>
  
              <!-- Aca va la lista de productos nuevos -->
              <section class="nuevos">

                <section class="divisor-color">
                  <div class="cuadrado1"></div>
                  <div class="cuadrado2"></div>
                  <div class="cuadrado3"></div>
                  <div class="cuadrado4"></div>
                  <div class="cuadrado5"></div>
                  <div class="cuadrado6"></div>
                </section>
                
                  <h1>Nuevos</h1>

                  <section class="lista-productos">
                    <app-product-card class="tarjeta"></app-product-card>
                  </section>

              </section>
    </main>

<!-- Traer el FOOTER -->
<app-footer></app-footer>