<!-- Traer el NAVBAR -->
<app-nav-bar></app-nav-bar>

    <!-- Aca esta dispuesto todo el contenido de la pagina -->
    <main>
         <!-- Esta seccion es el banner que habla de Ecocloset-->
        <section class="intro">
            <div class="intro-content">
                <div class="text">
                    <div class="text-principal">
                        <h1>¿Qué es Ecocloset?</h1>
                        <p>Ecocloset es una aplicación que conecta de manera rápida y sencilla a consumidores de moda
                            sostenible con emprendimientos que generan un impacto positivo en la industria de la moda.
                            Ayudamos a generar un cambio eficaz y moderno, empleando herramientas tecnológicas
                            innovadoras, siempre con el objetivo de ser sostenibles.</p>
                    </div>
                    <div class="image">
                        <img src="/assets/about-us/img-about-banner.png" alt="Imagen de un suéter">
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-verificaciones">Verificaciones</button>
                    <button class="btn-compradores">Compradores</button>
                    <button class="btn-vendedores">Vendedores</button>
                </div>
            </div>
            <div class="color-bar">
                <span class="bar-color-1"></span>
                <span class="bar-color-2"></span>
                <span class="bar-color-3"></span>
                <span class="bar-color-4"></span>
                <span class="bar-color-5"></span>
            </div>
        </section>

        <!-- Esta seccion esta dirigida a las funcionalidades y beneficios de ECOCLOSET -->
        <section class="features">
            <div class="feature">
                <div class="image">
                    <img src="/assets/about-us/img-about1.png" alt="Verificaciones">
                </div>
                <h3>Verificaciones</h3>
                <p>Todos los emprendimientos y diseñadores cuentan con diversas certificaciones nacionales e
                    internacionales que demuestran el compromiso con el ambiente aplicado a sus productos sostenibles.
                </p>
            </div>
            <div class="feature">
                <div class="image">
                    <img src="/assets/about-us/img-about2.png" alt="Compradores">
                </div>
                <h3>Compradores</h3>
                <p>Puedes adquirir cualquier producto desde cualquier parte del mundo con la seguridad de que
                    contribuirás al planeta con productos responsables.</p>
            </div>
            <div class="feature">
                <div class="image">
                    <img src="/assets/about-us/img-about3.png" alt="Vendedores">
                </div>
                <h3>Vendedores</h3>
                <p>Todas los emprendimientos y diseñadores pueden vender en Ecocloset, nosotros les ayudamos a conseguir
                    certificaciones as sus productos y a expandir su mercado de manera responsable con el ambiente.</p>
            </div>
        </section>

        <!-- Esta seccion contiene la informacion de vendedores y compradores con una imagen de gif -->
        <section class="cta">
            <h2>Moda sostenible al alcance de tu mano</h2>
            <div class="cta-container">
                <div class="cta-item">
                    <h3>Comprar</h3>
                    <p>Con esto puedes contribuir a un mercado de la moda más responsable con el planeta sin perder la
                        oportunidad de plasmar tu estilo.</p>
                </div>
                <div class="cta-image">
                    <img src="/assets/about-us/img-about4.gif" alt="Icono de globo terráqueo">
                </div>
                <div class="cta-item">
                    <h3>Vender</h3>
                    <p>Puedes expandir tus horizontes como vendedor y crear una mayor comunidad de moda sostenible no
                        solo en el país sino en el mundo.</p>
                </div>
            </div>
        </section>

        <!-- Banner de cierre con frase representativa de Ecocloset -->
        <section class="carbon-footprint">
            <div class="carbon-content">
                <h2>Por un closet sin huella de carbono</h2>
            </div>
        </section>
    </main>

<!-- Traer el FOOTER -->
<app-footer></app-footer>