     <main>
        <!-- Barra izquierda -->
        <section class="admin-categorias">
            <!-- CARD DE ADMIN -->
            <div class="card2">
                <img src="/assets/dashboard/home/img-admin.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <div *ngFor="let admin of allAdmin" class="col">
                        <h5 class="card-title"><strong>{{admin.Nombre}}</strong></h5>
                    </div>
                    <p class="card-text"><strong>Administrador(a)</strong></p>
                </div>
            </div>
            <!-- ----------------------------------- -->

            <section class="rutas">
                <!-- BOTON BOOTSTRAP ACTIVE -->
                <button type="button" class="btn btn-secondary">
                    <img src="/assets/dashboard/home/img-icono-home.png" alt="icono">
                    <a routerLink="/Dashboard">Dashboard</a></button>
                <!-- ------------------------ -->

                <!-- BOTON BOOTSTRAP DISABLE -->
                <button type="button" class="btn btn-primary">
                    <img src="/assets/dashboard/home/img-icono-inventario.png" alt="icono">
                    Inventario</button>
                <!-- ------------------------ -->

                <!-- BOTON BOOTSTRAP DISABLE -->
                <button type="button" class="btn btn-secondary">
                    <img src="/assets/dashboard/home/img-icono-users.png" alt="icono">
                    <a routerLink="/Dashboard/Usuarios">Usuarios</a></button>
                <!-- ------------------------ -->

                <!-- BOTON BOOTSTRAP DISABLE -->
                <button type="button" class="btn btn-secondary">
                    <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                    <a routerLink="/Dashboard/Ordenes">Ordenes</a></button>
                <!-- ------------------------ -->
            </section>

            <section class="logo">
                <img src="/assets/dashboard/home/img-ecocloset.png" alt="logo-ecocloset">
            </section>

            <!-- BOTON BOOTSTRAP SALIR -->
            <button type="button" class="btn btn-danger">
                <img src="/assets/dashboard/home/img-icono-salir.png" alt="icono">
                <a routerLink="/">Salir</a></button>
            <!-- ------------------------ -->
        </section>

        <!-- Dashboard Info -->
        <section class="informacion">
            <section class="titulo">
                <img src="/assets/dashboard/home/img-icono-home2.png" alt="icono" height="50px">
                <h1>Inventario</h1>
            </section>

            <h2>Productos más vendidos</h2>
            <!-- NgFor recorre elemento de un ARRAY y escoge el dato especifico-->
             <section class=" row">
                <div *ngFor="let producto of allProducts.slice(0, 3)" class="col" >
                    <section class="productos-vendidos">
                        <section class="orden-card">
                            <img src={{producto.Imagen}} alt="img-producto">
                            <div class="orden-detalle">
                                <h4><strong>{{producto.Nombre}}</strong></h4>
                                <h5>{{producto.Precio}}</h5>
                            </div>
                        </section>
                    </section>
                </div>
            </section>

            <section class="boton-producto">
                <button type="button" class="btn btn-primary" (click)="toggleDiv()">
                    <img src="/assets/dashboard/home/img-icono-ordenes.png" alt="icono">
                    Añadir producto</button>
                <h2>Lista de inventario</h2>
            </section>

            <!-- FORMULARIO DE PETICIONES -->
            <div class="container">
                @if(showDiv){
                <h3>{{ editMode ? 'Modificar Producto' : 'Crear Producto' }}</h3>
                <form class="py-5 col-lg-6">
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" [(ngModel)]="nombre" />
                    </div>
                    <div class="mb-3">
                        <label for="inputImagen" class="form-label">Imagen</label>
                        <input type="text" class="form-control" name="imagen" [(ngModel)]="imagen" />
                    </div>
                    <div class="mb-3">
                        <label for="inputPrecio" class="form-label">Precio</label>
                        <input type="number" class="form-control" name="precio" [(ngModel)]="precio" />
                    </div>

                    <div class="mb-3">
                        <label for="inputColeccion" class="form-label">Colección</label>
                        <input type="text" class="form-control" name="coleccion" [(ngModel)]="coleccion" />
                    </div>

                    <div class="mb-3">
                        <label for="inputTallas" class="form-label">Tallas</label>
                        <input type="text" class="form-control" name="tallas" [(ngModel)]="tallas" />
                    </div>

                    <div class="mb-3">
                        <label for="inputDescripcion" class="form-label">Descripcion</label>
                        <input type="text" class="form-control" name="descripcion" [(ngModel)]="descripcion" />
                    </div>

                    <button (click)="editMode ? modificarProducto() : crearProducto()" type="button"
                        class="btn btn-secondary bg-my-color col-12">
                        {{ editMode ? 'Modificar Producto' : 'Crear Producto' }}
                    </button>
                    <button (click)="toggleDiv()" type="button" class="btn btn-danger bg-my-color col-12 mt-3">
                        Cerrar
                    </button>
                </form>
                }
            </div>


            <!-- Tabla de BOOTSTRAP -->
            <section class="tabla-inventario">
                <table class="table">
                    <thead class="table-dark">
                        <th scope="col">Editar</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Imagen</th>
                        <th scope="col">Colección</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">ID</th>
                    </thead>

                    <!-- TABLA -->
                    <tbody class="table-group-divider" id="miTabla">
                        <!-- @for (producto of allProducts; track $index) -->
                         
                        <tr *ngFor="let producto of allProducts">
                                <td class="acciones" id="acciones">
                                    <button type="button" class="btn btn-primary" (click)="identificarId(producto._id)">
                                        <img src="/assets/dashboard/home/img-icono-editar.png" alt="icono" width="30px">
                                    </button>

                                    <button type="button" class="btn btn-danger" (click)="borrarProducto(producto._id)">
                                        <img src="/assets/dashboard/home/img-icono-eliminar.png" alt="icono" width="30px">
                                    </button>
                                </td>
                                <td>{{producto.Nombre}}</td>
                                <td><img src={{producto.Imagen}} alt="img-producto" width="150px"></td>
                                <td>{{producto.Coleccion}}</td>
                                <td>${{producto.Precio}}</td>
                                <td>{{producto.Descripcion}}</td>
                                <td>{{producto._id}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </section>
        </section>
    </main>