<p>form-user works!</p>

<!-- FORM DE USER -->

<body>
    
    <!-- Aca esta dispuesto el formulario del usuario -->
    <main>
    <!-- BOOTSTRAP FORMS -->
    <h1>Editar usuario</h1>
    <div class="row">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="formGroupExampleInput" required>
        </div>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Correo</label>
        <input type="text" class="form-control" id="formGroupExampleInput" required>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="formGroupExampleInput" required>
    </div>

    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Contraseña</label>
        <input type="text" class="form-control" id="formGroupExampleInput2" required>  
    </div>

    <!-- Subir imagen -->
    <div class="mb-3">
        <label for="formFile" class="form-label">Imagen de perfil</label>
        <input class="form-control" type="file" id="formFile">
    </div>

    <!-- Fin del Bootstrap -->

    <!-- Boton de ELIMINAR -->
    <a style="text-decoration: none"><button class="btn-login" type="submit" onclick="nombreUser()">Eliminar</button></a>

    <!-- Boton de GUARDAR -->
    <a style="text-decoration: none"><button class="btn-login" type="submit" onclick="nombreUser()">Guardar</button></a>
    
    </main>
    <!-- Final del formulario de ADMIN -->

</body>